<div class="recent-news-menu__row">
  <div class="recent-news-menu__image">
    <a href="{{url}}">
      {{content.field_image}}
    </a>
  </div>
  <div class="recent-news-menu__dsc">
    <a href="{{url}}">
      {{label}}
    </a>
  </div>
</div>
