@import 'init';

@imoprt '_grids.scss';

/* announcments */

.anouncment-view {
  $zen-column-count: 3;
  $zen-gutter-width: 10px;
  @include zen-grid-container;

  /* height: 230px; */

  .view-content {
    margin-left: -10px;
    margin-right: -10px;

    padding-right: 50px;
    padding-left: 50px;
  }

  .anouncment-item {
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;

    @media (max-width: 999px) {
      width: 33.3%;
      margin-bottom: 30px;
    }

    @media (max-width: 666px) {
      width: 50%;
    }

    @media (max-width: 444px) {
      width: 100%;
    }
  }

  .views-field-field-event-date {
    height: 40px;
    line-height: 40px;
    background-color: #2e3192;
    text-align: center;
  }

  .views-field-field-event-date:hover {
    background-color: darken(#2e3192, 15%);
  }

  .views-field-field-event-date a {
    text-decoration: none;
  }

  .views-field-field-event-date .datetime {
    color: white;
    vertical-align: middle;
  }

  .anouncment-msg {
    background-color: #fff;
    min-height: 157px;
    padding: 10px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 22px;
    color: gray;
  }

  .slick-prev:before {
    content: '<';
  }

  .slick-next:before {
    content: '>';
  }
}
