@import 'init';

@imoprt '_grids.scss';

/* announcments */

.anouncment-view {
  $zen-column-count: 3;
  $zen-gutter-width: 10px;
  @include zen-grid-container;

  /* height: 230px; */

  padding-bottom: 20px;

  .view-content {
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .anouncment-item {
    width: 20%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .views-field-field-event-date {
    height: 40px;
    line-height: 40px;
    background-color: #2e3192;
    text-align: center;
  }

  .views-field-field-event-date:hover {
    background-color: darken(#2e3192, 15%);
  }

  .views-field-field-event-date a {
    text-decoration: none;
  }

  .views-field-field-event-date .datetime {
    color: white;
    vertical-align: middle;
  }

  .anouncment-msg {
    background-color: #fff;
    min-height: 157px;
    padding: 10px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/* video block */
.cfu-block.cfu-block--video-block h2 {
  background-color: #a01f62;
}

.main-video-block {
  color: white;
  font-size: 16px;
  min-height: 100px;
  
  &--dsc {
    height: 100%;
    
    p {
      margin: 0;
    }
  }

  .grid__content {
    background-color: #a01f62;
    min-height: 300px;
  }

  .grid__content:before {
    $logo_height: 35px;
    
    background-image: url(../images/video_logo.png);
    background-size: cover;
    content: " ";
    display: block;
    left: 5px;
    height: $logo_height;
    position: absolute;
    top: 5px;
    width: $logo_height * 100px / 70px;
  }

  .views-field-body {
    padding: 10px;
    line-height: 1;
  }
}
