.form-container {
  position: relative;
}

.glyph {
  background-size: cover;
  content: '';
  
  &--search {
    background-image: url(../../../images-source/search.png);
    width: 16px;
    height: 16px;
  }

  &--input-item {
    position: absolute;
    left: 5px;
    top: 5px;
  }
}

.news-search-form {
  display: inline-block;

  .active {
    background-color: darken(#2e3192, 10%);
  }

  &__date-title {
    min-width: 170px;
  }

  &__struct-title {
    min-width: 250px;
  }

  &__struct-list {
    min-width: 300px;
  }

  &__content-type-title {
    min-width: 200px;
  }

  &__container-search-str {
    float: left;
    margin-top: 7px;
    display: inline;
  }

  &__search_str {
    min-width: 300px;
  }

  &__submit {
    left: -20px;
    position: relative;
    top: 7px;
  }

  &__submit {
    float: left;
  }
}

li.news-search-form__date-title > a,
li.news-search-form__struct-title > a,
li.news-search-form__content-type-title > a {
  padding-top: 0px;
  padding-bottom: 0px;

  line-height: 40px;
}
