@import 'init';
@import 'zen-grids';

$vpo-color: #a01f62;
$spo-color: #2e3192;
$no-color: #ffc208;

.block-cfu-struct-main-page-block {
  @media (max-width: 1400px) {
    .cfu-block__title__text {
      width: 100%;
    }

    .struct-filter__btn {
      display: none;
    }
  }
}

.view-carousel-struct-units {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;

  height: 230px;
  
  .views-field-field-title {
  }

  .struct-type {
    display: none;
  }

  /* #struct borders */
  
  .views-field-field-image img {
    border-style: solid;
    border-width: 4px;
    border-color: black;
  }

  .struct_vpo > .views-field-field-image img {
    border-color: $vpo-color;
  }
  .struct_spo > .views-field-field-image img {
    border-color: $spo-color;
  }
  .struct_тo > .views-field-field-image img {
    border-color: $no-color;
  }

  .struct_vpo {
    border-color: red;
  }

  .views-field-field-image {
  }

  .views-field-field-image img {
    margin: 0 auto;
    border-radius: 50%;    
  }

  .views-field-field-title .field-content {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 15px;
    text-align: center;
  }

  .slick__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 22px;
    color: gray;
  }

  .slick-prev:before {
    content: '<';
  }

  .slick-next:before {
    content: '>';
  }
}

.carousel-struct__url {
  display: none;
}

$zen-columns: 3;
$zen-gutter-width: 0;

.struct-filter {
  @include zen-grid-container;
  background: none;
  margin-bottom: 30px;

  &__btn-show-all {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    color: black;
    text-align: right;

    &--active {
      display: block;
    }
  }
  
  &__btn {
    text-align: center;
    color: white;
    cursor: pointer;
    line-height: 40px;
  }
  &__btn:hover {
    background-color: light-gray;
  }

  &__btn.struct_vpo {
    @include zen-grid-item(1, 1);
  }

  &__btn.struct_spo {
    @include zen-grid-item(1, 2);
  }

  &__btn.struct_тo {
    @include zen-grid-item(1, 3);
  }
  /* fix: removes extra space for right panel @bugs/front-struct_carousel-extra_space.png */
  &__btn.struct_тo {
    position: relative;
    left: -1px;
  }

  .active.struct_vpo {
    background-color: darken($vpo-color, 25);
  }
  .active.struct_spo {
    background-color: darken($spo-color, 25);
  }
  .active.struct_тo {
    background-color: darken($no-color, 25);
  }
  
  .struct_vpo {
    background-color: $vpo-color;
  }
  .struct_spo {
    background-color: $spo-color;
  }
  .struct_тo {
    background-color: $no-color;
  }

  .struct_vpo:hover {
    background-color: darken($vpo-color, 15);
  }
  .struct_spo:hover {
    background-color: darken($spo-color, 15);
  }
  .struct_тo:hover {
    background-color: darken($no-color, 15);
  }
}
