@import 'init';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme.
//
// Style guide: layouts

@import 'layout-3col/layout-3col';
@import 'layout-center/layout-center';
// The layout-swap isn't used in page.html.twig. You may wish to remove it to
// improve front-end performance.
@import 'layout-swap/layout-swap';

.cfu-block > h2 {
  background-color: #2e3192;
  color: white;
  display: inline-block;
  font-size: 18px;
  min-width: 180px;
  margin: 15px 0;
}

.cfu-block {
  padding-left: 15px;
  padding-right: 15px;

  &--gray {
    background-color: #e2e2e2;
  }

  &--white {
  background-color: #fff;    
  }
}
