@import 'init';
@import 'zen-grids';
// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme.
//
// Style guide: layouts

//@import 'layout-3col/layout-3col';
//@import 'layout-center/layout-center';
// The layout-swap isn't used in page.html.twig. You may wish to remove it to
// improve front-end performance.
@import 'layout-swap/layout-swap';

$zen-columns: 8;
$zen-gutters: 1%;
$zen-gutter-method: 'margin';

h1.page-title {
  margin-bottom: 50px;  
}

h1.page-title,
.cfu-block > .cfu-block--container > h2 {
  background-color: #2e3192;
  color: white;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  min-width: 180px;
  margin: 15px 0;
  padding: 5px 15px 5px 15px;
}

.cfu-block {
  padding-left: 15px;
  padding-right: 15px;

  &--container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  &--overflow {
    overflow: auto;
  }

  &--gray {
    background-color: #e2e2e2;
  }

  &--white {
    background-color: #fff;    
  }
  
  &__title {
    @include zen-grid-container();
    min-height: 35px;
    margin-right: -15px;

    &__text,
    &__form {
      background-color: #2E3192;
      color: white;
      height: 40px;
      max-height: 40px;
    }

    &__text {
      @include zen-grid-item(1,1);
      
      font-size: 14px;
      line-height: 40px;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 15px;
    }

    &__form {
      @include zen-grid-item(7,2);
    }
  }
}

.cfu-btn {
  border: 0;
  border-radius: 5px;
  outline: 0;
  padding: 5px 15px;
  
  &--magenta {
    background-color: #9e1f62;
    color: white;
  }
}

.cfu-block__title {
  margin-bottom: 15px;
}

.second-level-page-container {
  /* max-width: 1600px; */
  /* margin: 0 auto; */
  /* background-color: #fff; */
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}
