@import 'init';

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme.
//
// Style guide: layouts

//@import 'layout-3col/layout-3col';
//@import 'layout-center/layout-center';
// The layout-swap isn't used in page.html.twig. You may wish to remove it to
// improve front-end performance.
@import 'layout-swap/layout-swap';

h1.page-title {
  margin-bottom: 50px;  
}

h1.page-title,
.cfu-block > .cfu-block--container > h2 {
  background-color: #2e3192;
  color: white;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  min-width: 180px;
  margin: 15px 0;
  padding: 5px 15px 5px 15px;
}

.cfu-block {
  padding-left: 15px;
  padding-right: 15px;

  &--container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  &--overflow {
    overflow: auto;
  }

  &--gray {
    background-color: #e2e2e2;
  }

  &--white {
    background-color: #fff;    
  }
}

.second-level-page-container {
  /* max-width: 1600px; */
  /* margin: 0 auto; */
  /* background-color: #fff; */
  /* padding-left: 15px; */
  /* padding-right: 15px; */
}
