@import 'init';

// Branding footer
//
// Markup: footer.twig
//
// Style guide: components.footer

.footer,
%footer {
  @include type-layout(s, 1);
  @include margin-top(2, s);
  //@include padding(1 0, s);

  background-color: #e2e2e2;
  padding-bottom: 0;
  margin-top: 0px;

  a {
    color: white;
    text-decoration: none;
  }

  .footer-navigation {
    background-color: #2e3192;
    min-height: 80px;
  }
}

.footer-menu {
  color: black;
  background-color: lightsteelblue;
  padding-top: 15px;
  padding-bottom: 15px;

  > .cfu-block--container > .menu {
    margin: 0;
  }

  .menu-item--expanded {
    float: none;
    width: 100%;
    padding: 0 20px;

    > a {
      font-weight: bold;
    }

    .menu {
      margin-left: 0;
      padding-top: 10px;
    }
  }

  a {
    color: black;
  }

  @include respond-to(m) {
    .menu-item--expanded {
      float: left;
      display: inline-block;
      width: 30%;
    }

  }

  @include respond-to(l) {


    .menu-item--expanded {
      float: left;
      display: inline-block;
      width: 20%;
    }

  }
}

.footer-navigation {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  position: relative;

  &--container {
    min-height: 80px;
  }

  &--contacts {
    color: white;
    left: 15px;
    height: 100%;
    line-height: 2;

    .menu {
      display: block;
      margin-left: 30px;
    }

    .menu li {
      display: block;
      padding: 0 15px;

      a {
        color: white;
      }
    }
  }

  &--logo {
    bottom: 0px;
    position: absolute;
    right: 5px;

    img {
      height: 40px;
    }
  }


  @include respond-to(m) {
    &--contacts {
      position: absolute;

      .menu {
        display: inline-block;
        margin-left: 30px;
      }

      .menu li {
        display: inline-block;
        padding: 0 15px;

      }
    }

    &--logo {
      right: 30px;

      img {
        height: 120px;
      }
    }
  }
}

.cfu-block--footer-banners {
  border-bottom: 1px solid color(border);
  border-top: 1px solid color(border);
}
