@import 'init';

@import "zen-grids";
$zen-columns: 24;


.all-news {
  @include zen-grid-container();
  padding-bottom: 20px;
  
  &__date-field {
    @include zen-grid-item(1, 1);

    width: 180px;
    
    font-weight: bold;
    text-align: right;
  }

  &__image-field {
    @include zen-grid-item(2, 4);
    > a {
      position: relative;
      top: 6px;
    }

    text-align: center;
  }

  &__text {
    @include zen-grid-item(24-6, 6);
  }

  &__text__title {
    > a {
      color: black;
      font-weight: bold;
    }
  }

  &__text__body > p:first-child {
    margin-top: 0;
  }

  :after {
    @include zen-new-row();
  }
}
