@import 'init';

@import "zen-grids";

$zen-columns: 32;
$zen-gutters: 1%;
$zen-gutter-method: 'margin';

.view-display-id-news {
  margin-top: 40px;
}

.news-item-teaser {
  &__title {
    > a {
      color: black;
      font-weight: bold;
    }
  }
}
