@import 'init';
@import 'layout-3col/_layout-3col';
@import "zen-grids";
$zen-columns: 24;

.layout-3col {
  margin: 0 auto !important;
}

.node-news {
  
  @include zen-grid-container();
  
  &__sidebar {
    @include zen-grid-item(1, 1);

    font-weight: bold;
    width: 180px;
    text-align: right;
  }

  &__content {
    @include zen-grid-item(16, 6);

    > h2 {
      margin: 0;
      line-height: 1.5;
      font-size: 14px;
      
      > a {
        color: black;
      }
    }

    .field--name-field-image-gallery {
      .field__item {
        display: inline-block;
      }
    }


    p img.align-right {
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    p img.align-left {
      margin-right: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__display-case {
    margin-top: 30px;
    margin-bottom: 15px;

    > img {
      width: 100%;
    }
  }
  
}

$zen-columns: 4;

.recent-news-menu {
  background-color: #fff;
  margin-top: 10px;
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;

  &__title {
    background-color: #2e3192;
    color: white;
    display: inline-block;
    min-width: 180px;

    font-size: 14px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;

    
  }
  
  &__row {
    @include zen-grid-container();

    margin-bottom: 15px;
  }

  &__image {
    @include zen-grid-item(1, 1);
    padding-top: 5px;
  }

  &__dsc {
    @include zen-grid-item(3, 2);
  }
}
