@import 'init';
@import 'layout-3col/_layout-3col';
@import "zen-grids";
$zen-columns: 24;

.layout-3col {
  margin: 0 auto !important;
}

.node-news {
  
  @include zen-grid-container();
  
  &__sidebar {
    @include zen-grid-item(5, 1);
    padding-right: 30px;
    font-weight: bold;
    //width: 180px;
    text-align: right;
  }

  &__time-field {
    display: none;
    margin-bottom: 25px; // to allign with image in news page

    @include respond-to(xs) {
      display: block;
    }
  }

  &__content {
    @include zen-grid-item(18, 6);

    > h2 {
      margin: 0;
      margin-bottom: 30px;
      line-height: 1.5;
      font-size: 14px;
      
      > a {
        color: black;
      }
    }

    .field--name-field-image-gallery {
      .field__items {
        font-size: 0;
      }
      
      .field__item {
        display: inline-block;
        width: 24%;

        img {
          width: 100%;
        }
      }
    }


    img.align-right {
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    img.align-left {
      margin-right: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }

  &__display-case {
    margin-bottom: 15px;

    > img {
      width: 100%;
    }
  }

  @include respond-to(xs) {
    &__sidebar {
    }


    &__content {
      @include zen-new-row(none);
      @include zen-grid-item(18, 6);      
    }
  }
  
}

$zen-columns: 4;

.recent-news-menu {
  background-color: #fff;
  margin-top: 10px;
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;

  &__title {
    background-color: #2e3192;
    color: white;
    display: block;
    min-width: 180px;

    font-size: 14px;
    line-height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;

    @include respond-to(xl) {
      display: inline-block;
    }
  }
  
  &__row {
    @include zen-grid-container();

    margin-bottom: 15px;
  }

  &__image {
    @include zen-new-row();
    @include zen-grid-item(4, 1);
    padding-top: 5px;

    img {
      padding-right: 10px;      
    }
  }

  &__dsc {
    @include zen-new-row();
    @include zen-grid-item(4, 1);
  }

  @include respond-to(xs) {
    &__image {
      @include zen-new-row(none);
      @include zen-grid-item(1, 1);
      padding-top: 5px;
    }

    &__dsc {
      @include zen-new-row(none);
      @include zen-grid-item(3, 2);
    }
  }
}
