@import 'init';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.twig
//
// Style guide: navigation.breadcrumb

.breadcrumb,
%breadcrumb {
  @media print {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  $breadcrumb-height: 25px;
  $breadcrumb-arrow-width: 17px;

  &__item {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    font-style: italic;
    height: $breadcrumb-height;
    background-color: white;
    position: relative;
    margin-right: $breadcrumb-arrow-width;
    border-bottom: 1px solid #CDCDCD;
  }

  &__item > a {
    text-decoration: none;
    color: black;
  }

  &__item:after {
    content: '';
    display: block;
    height: $breadcrumb-height;
    width: $breadcrumb-arrow-width;

    position: absolute;
    right: - $breadcrumb-arrow-width;
    top: 0px;
    background-image: url(../../../images-source/breadcrumbs-arrow-ending--cfu-lib.png);
  }
}
