@import 'init';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.twig
//
// Style guide: navigation.breadcrumb

.breadcrumb,
%breadcrumb {
  @media print {
    display: none;
  }

  &__list {
    background-color: white;
    border: 1px solid #CDCDCD;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;    
  }

  &__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
