@import 'init';

// Branding header
//
// Markup: header.twig
//
// Style guide: components.header

$logo_width: 202px;

.control-header {
  min-height: 30px;

  .cfu-block--container {
    padding-right: 100px;
  }
}

.control-header.controll-header--placeholder {
  margin-bottom: 130px;
}

.header,
%header {
  background-color: #2e3192;
  color: white;
  min-height: 130px;
  /* position: fixed; */
  transition: height 0.5s;
  top: 32px;
  width: 100%;
  /* width: 1600px; */
  z-index: 9999;

  .cfu-block--container {
    min-height: 130px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  // Wrapping link for logo.
  .block-system-branding-block {
    margin: 0 10px 0 0;
    padding: 0;
    position: absolute;
    bottom: -7px;
    z-index: 100;
    width: 100%;

    @include rtl() {
      float: right;
      margin: 0 0 0 10px;
    }

    .site-name {
      left: $logo_width + 20;
      position: absolute;
      top: 60px;
      width: 1000px;

      a {
        font-family: Arial;
        font-weight: bold;
        font-size: 25px;
      }
    }
  }

  .header-block--vernadky-image {
    position: absolute;
    right: 0;
    bottom: 0px;

    img {
      height: 155px;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // Wrapper for website name and slogan.
  &__name-and-slogan {
    float: left;
  }

  // The name of the website.
  &__site-name {
    margin: 0;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: color(text);
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  // The slogan (or tagline) of a website.
  &__site-slogan {
    margin: 0;
  }

  // The secondary menu (login, etc.)
  &__secondary-menu {
    float: right;

    @include rtl() {
      float: left;
    }
  }

  // Wrapper for any blocks placed in the header region.
  &__region {
    // Clear the logo.
    clear: both;
  }

  .block-superfishmain {
    position: absolute;
    bottom: 0;
    left: $logo_width;
    width: auto;

    a {
      transition: background-color 0.5s;
    }
    
    a:hover,
    .sfHover > a {
      background-color: #2E3159;
    }

    ul.sf-menu .sf-sub-indicator {
      height: 20px;
    }

    ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
      top: 3em;
    }

    li a {
      color: white;
    }

    .menuparent ul {
      background-color: #2E3192;
    }
  }
}


.header.fixed {
  position: fixed;
  min-height: 50px;
  top: 0;

  .header-block--vernadky-image {
    display: none;
  }

  .cfu-block--container {
    min-height: 50px;
  }

  .block-system-branding-block {
    left: 15px;
    bottom: 0;
  }

  .site-name a {
    display: none;
  }

  .site-logo img {
    height: 40px;
  }
}
