<div class="cfu-block--container">
  <p class="banner-block" style="text-align: center">
    <img alt="001" class="banner-block__image" data-entity-type="file" data-entity-uuid="33136e70-769c-4764-bbc1-680ef9685385" src="/sites/default/files/inline-images/b001.jpg" />
    <img alt="003" class="banner-block__image" data-entity-type="file" data-entity-uuid="c67b99c5-4d19-47d2-a050-b08d9c190eee" src="/sites/default/files/inline-images/b003.jpg" />
    <img alt="004" class="banner-block__image" data-entity-type="file" data-entity-uuid="85c8171f-c0dd-49a0-880f-6df633a6bdce" src="/sites/default/files/inline-images/b004.jpg" />
    <img alt="001" class="banner-block__image" data-entity-type="file" data-entity-uuid="33136e70-769c-4764-bbc1-680ef9685385" src="/sites/default/files/inline-images/b001.jpg" />
    <img alt="003" class="banner-block__image" data-entity-type="file" data-entity-uuid="c67b99c5-4d19-47d2-a050-b08d9c190eee" src="/sites/default/files/inline-images/b003.jpg" />
    <img alt="004" class="banner-block__image" data-entity-type="file" data-entity-uuid="85c8171f-c0dd-49a0-880f-6df633a6bdce" src="/sites/default/files/inline-images/b004.jpg" />
    <img alt="001" class="banner-block__image" data-entity-type="file" data-entity-uuid="33136e70-769c-4764-bbc1-680ef9685385" src="/sites/default/files/inline-images/b001.jpg" />
    <img alt="003" class="banner-block__image" data-entity-type="file" data-entity-uuid="c67b99c5-4d19-47d2-a050-b08d9c190eee" src="/sites/default/files/inline-images/b003.jpg" />
  </p>
</div>
