@import 'init';

/* video block */
.cfu-block.cfu-block--video-block {
  .news-search-form .sf-menu ul li:hover {
    background-color: darken(#a01f62, 10%);
  }
}

.films-search-form {
  .active {
    background-color: darken(#a01f62, 10%);
  }

  &__filter-header {
    float: left;
    display: inline-block;
    padding-left: 15px;
    padding-right: 10px;

    > strong {
      line-height: 40px;
      vertical-align: middle;
    }
  }

  &__date-title {
    min-width: 170px;
  }

  &__struct-title {
    min-width: 250px;
  }

  &__struct-list {
    min-width: 500px;
  }

  &__container-search-str {
    float: right;
    margin-top: 7px;
    margin-left: 10px;
    display: inline;
    padding-right: 15px;
    position: relative;
  }

  &__search_str {
    min-width: 500px;
  }

  &__submit {
    right: 15px;
    position: absolute;
  }
}

ul.films-search-form__date-dropdown > li:hover > ul,
ul.films-search-form__date-dropdown > li.sfHover > ul,
ul.films-search-form__struct-dropdown > li:hover > ul,
ul.films-search-form__struct-dropdown > li.sfHover > ul, {
  top: 40px;
}

.films-search-form__date-dropdown,
.films-search-form__struct-dropdown,
.films-search-form__filter-header {
  display: none;

  @include respond-to(xxxl-form-filters) {
    display: block;
  }
}

li.films-search-form__date-title > a,
li.films-search-form__struct-title > a,
li.films-search-form__content-type-title > a {
  padding-top: 0px;
  padding-bottom: 0px;

  line-height: 40px;
}
