@import 'init';

/* video block */
.cfu-block.cfu-block--video-block {
  .news-search-form .sf-menu ul li:hover {
    background-color: darken(#a01f62, 10%);
  }
}

.films-search-form {
  display: inline-block;

  &__container-search-str {
    float: left;
    margin-top: 7px;
    display: inline;
  }

  &__search_str {
    min-width: 300px;
  }

  &__submit {
    left: -20px;
    position: relative;
    top: 7px;
  }

  &__struct-list {
    min-width: 300px;
  }

  &__submit {
    float: left;
  }
}
