@import 'init';

/* video block */
.cfu-block.cfu-block--video-block {
  .news-search-form .sf-menu ul li:hover {
    background-color: darken(#a01f62, 10%);
  }
}

.films-search-form {
  display: inline-block;

  .active {
    background-color: darken(#a01f62, 10%);
  }

  &__date-title {
    min-width: 170px;
  }

  &__struct-title {
    min-width: 250px;
  }

  &__struct-list {
    min-width: 300px;
  }

  &__container-search-str {
    float: left;
    margin-top: 7px;
    display: inline;
  }

  &__search_str {
    min-width: 300px;
  }

  &__submit {
    left: -20px;
    position: relative;
    top: 7px;
  }

  &__submit {
    float: left;
  }
}

li.films-search-form__date-title > a,
li.films-search-form__struct-title > a,
li.films-search-form__content-type-title > a {
  padding-top: 0px;
  padding-bottom: 0px;

  line-height: 40px;
}
