@import 'init';
@import 'cfu_films_search_form';

.main-video-block {
  color: white;
  font-size: 16px;
  min-height: 100px;
  
  &--dsc {
    height: 100%;
    
    p {
      margin: 0;
    }
  }

  .grid__content {
    background-color: #a01f62;
    min-height: 300px;

    img {
      width: 100%;
    }
  }

  .grid__content:before {
    $logo_height: 35px;
    
    background-image: url(../images/video_logo.png);
    background-size: cover;
    content: " ";
    display: block;
    left: 5px;
    height: $logo_height;
    position: absolute;
    top: 5px;
    width: $logo_height * 100px / 70px;
  }

  .views-field-body {
    padding: 10px;
    line-height: 1;
  }
}
