@import 'init';
@import 'cfu_films_search_form';

.film-teaser {
  &__title {
    text-decoration: underline;
    font-weight: bold;

    > a {
      color: black;
    }
  }

  &__body {
    p {
      text-indent: 0;
    }
  }
}

.cfu-block--all-padding [class*="block-grid-"] > .grid {
  margin: 0;
}
